.button {
  --c-black: #000;
  --c-white: #fff;
  --c-mindal: #f0c88dbd;
  --c-green: #38b63d;

  --c--disabled-text-light: #1d1b20;
  --c--disabled-bg-light: #1d1b201f;

  --c--disabled-bg-dark: #e6e0e91f;
  --c--disabled-text-dark: #e6e0e9;

  position: relative;
  border: 1px solid transparent;
  display: flex;
  padding: 10px 24px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.button:hover {
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.button:disabled {
  cursor: not-allowed;
}

.button.black {
  background-color: var(--c-black);
  color: var(--c-white);
  border-color: var(--c-black);
}

.button.black:focus {
  outline-color: var(--c-white);
}

.button.black:disabled {
  background-color: var(--c--disabled-bg-light);
  border-color: var(--c--disabled-bg-light);
  color: var(--c--disabled-text-light);
}

.button.white {
  background-color: var(--c-white);
  color: var(--c-black);
  border: 1px solid var(--c-white);
}

.button.white:disabled {
  background-color: var(--c--disabled-bg-light);
  border-color: var(--c--disabled-bg-light);
  color: var(--c--disabled-text-light);
}

.button.mindal {
  background-color: var(--c-mindal);
  color: var(--c-black);
  border-color: var(--c-mindal);
}

.button.mindal:disabled {
  background-color: var(--c--disabled-bg-dark);
  border-color: var(--c--disabled-bg-dark);
  color: var(--c--disabled-text-dark);
}

.button.green {
  background-color: var(--c-green);
  color: var(--c-white);
  border-color: var(--c-green);
}

.button.green:disabled {
  background-color: var(--c--disabled-bg-dark);
  border-color: var(--c--disabled-bg-dark);
  color: var(--c--disabled-text-dark);
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.button:disabled:hover {
  box-shadow: none;
}
